.all__cards {
  position: absolute;
  left: 350px;
  top: 40px;
  min-width: 54%;
  max-width: 820px;
  z-index: 10;
  padding: 10px;
  overflow-y: scroll;
  height: 94.4vh;
}

.all__cards::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1400px) {
  .all__cards {
    width: 55%;
  }
}

@media screen and (max-width: 1240px) {
  .all__cards {
    width: 68%;
  }
}

@media screen and (max-width: 968px) {
  .all__cards {
    width: 65%;
    left: 0;
  }
}

@media screen and (max-width: 798px) {
  .all__cards {
    width: 100%;
  }
}

.movetoTop {
  position: fixed;
  bottom: 1vh;
  right: 0;
  /* border: 1px solid red; */
}

.movetoTop .movetop__button {
  background: rgb(179, 179, 179);
  color: rgb(47, 53, 76);
  width: 30px;
  height: 30px;
}
.movetoTop .movetop__button:hover {
  background: rgb(179, 179, 179);
}

.all__cards2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.all__cards2 .all__cards__container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading__gif {
  width: 80px;
  height: 80px;
  margin-top: 30vh;
}
