.chatsidebarUser {
  display: flex;
}

.chat__user__container {
  display: flex;
  width: 100%;
  padding: 5px 10px;
  align-items: center;
  cursor: pointer;
  margin-top: 14px;
  border-radius: 20px;
}

.chat__user__container:hover {
  background-color: rgba(211, 211, 211, 0.639);
}

.friends__logo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(241, 241, 241);
}

.sidebar__chatinfo {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.sidebar__chatinfo h2 {
  font-size: 1.1rem;
}

@media screen and (max-width: 668px) {
  .sidebar__chatinfo h2 {
    font-size: 0.9rem;
  }
}

.sidebar__chatinfo p {
  font-size: 0.7rem;
}
