@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.createAccount {
  width: 100%;
  height: 100%;
}

.createAccount .main__container {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 3px 55px 0px grey;
          box-shadow: 0px 3px 55px 0px grey;
  border-radius: 4px;
  -webkit-animation: fading-main-container 1.5s ease;
          animation: fading-main-container 1.5s ease;
  min-height: 710px;
}

.createAccount .main__container .back__bubble {
  position: absolute;
  top: -10px;
  left: 80px;
  opacity: 0.3;
  z-index: -1;
  width: 80%;
  margin: auto;
}

.createAccount .main__container .left__panel {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #667db6;
  color: white;
}

.createAccount .main__container .left__panel .left__image img {
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
  margin-top: 20vh;
}

.createAccount .main__container .left__panel .left__content {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}

.createAccount .main__container .left__panel .left__content h2 {
  font-family: "Lobster", cursive;
  font-weight: 200;
}

.createAccount .main__container .left__panel .left__content .logo {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.createAccount .main__container .left__panel .left__content .logo h1 {
  font-size: 20px;
  font-weight: 400;
  color: #ccc7c7;
  margin-left: 5px;
}

.createAccount .main__container .left__panel .left__content .logo img {
  width: 25px;
  -o-object-fit: contain;
     object-fit: contain;
}

.createAccount .main__container .right__panel {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.createAccount .main__container .right__panel .company__name {
  margin-top: 8vh;
}

@media screen and (max-width: 668px) {
  .createAccount .main__container .right__panel .company__name {
    margin-top: 4vh;
  }
}

.createAccount .main__container .right__panel .company__name h1 {
  font-size: 44px;
  background: -webkit-gradient(linear, left top, right top, from(#0082c8), to(#4e6ab1));
  background: linear-gradient(to right, #0082c8, #4e6ab1);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.createAccount .main__container .right__panel .company__details {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.createAccount .main__container .right__panel .company__details h1 {
  font-size: 20px;
}

.createAccount .main__container .right__panel .company__details p {
  font-size: smaller;
  width: 130px;
  text-align: center;
  font-family: "Lobster", cursive;
}

.createAccount .main__container .right__panel .create__account {
  margin-top: 2vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.createAccount .main__container .right__panel .create__account form {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.createAccount .main__container .right__panel .create__account form input {
  width: 70%;
  padding: 10px 20px;
  margin: 8px 6px;
  margin-bottom: 2px;
  border-radius: 10px;
  outline: none;
  border: 1px solid grey;
  font-size: 15px;
}

.createAccount .main__container .right__panel .create__account form button {
  width: 130px;
  padding: 8px;
  background-color: #4e6ab1;
  border: none;
  outline: none;
  border-radius: 3px;
  color: white;
  margin-top: 10px;
  font-size: 15px;
  text-transform: capitalize;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.createAccount .main__container .right__panel .create__account form button:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.createAccount .main__container .right__panel .create__account form p {
  margin-top: 5px;
}

.createAccount .main__container .right__panel .create__account form p span {
  cursor: pointer;
  border-bottom-width: 10px;
  border-bottom: 1px solid grey;
}

.createAccount .main__container .right__panel .create__account form p span a {
  text-decoration: none;
  margin-left: 5px;
  color: black;
}

.createAccount .main__container .right__panel .create__account form p span a:active {
  color: #3e3e98;
}

@-webkit-keyframes fading-main-container {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fading-main-container {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (max-width: 668px) {
  .createAccount .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.error__field {
  color: red;
  font-size: 0.9rem;
  display: inline-block;
  margin-top: -10px;
  width: 75%;
}
/*# sourceMappingURL=CreateAccount.css.map */