@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.createAccount {
  width: 100%;
  height: 100%;

  .main__container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 55px 0px grey;
    border-radius: 4px;
    animation: fading-main-container 1.5s ease;
    min-height: 700px;

    .back__bubble {
      position: absolute;
      top: -10px;
      left: 80px;
      opacity: 0.3;
      z-index: -1;
      width: 80%;
      margin: auto;
    }

    .left__panel {
      flex: 0.4;
      display: flex;
      flex-direction: column;
      //   justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #667db6;
      color: white;

      .left__image {
        img {
          width: 100px;
          object-fit: contain;
          border-radius: 50%;
          margin-top: 20vh;
        }
      }

      .left__content {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        width: 70%;
        // margin: auto;

        h2 {
          font-family: "Lobster", cursive;
          font-weight: 200;
        }

        .logo {
          margin-top: 30px;
          display: flex;
          justify-content: center;
          align-items: center;

          h1 {
            font-size: 20px;
            font-weight: 400;
            color: rgb(204, 199, 199);
            margin-left: 5px;
          }

          img {
            width: 25px;
            object-fit: contain;
          }
        }
      }
    }
    .right__panel {
      flex: 0.6;
      display: flex;
      flex-direction: column;
      height: 90vh;
      align-items: center;

      .company__name {
        margin-top: 8vh;
        @media screen and (max-width: 668px) {
          margin-top: 4vh;
        }
        h1 {
          font-size: 44px;
          background: linear-gradient(to right, #0082c8, #4e6ab1);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .company__details {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
          font-size: 20px;
        }
        p {
          font-size: smaller;
          width: 130px;
          text-align: center;
          font-family: "Lobster", cursive;
        }
      }

      .create__account {
        margin-top: 6vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        form {
          width: 80%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          input {
            width: 70%;
            padding: 10px 20px;
            margin: 8px 10px;
            border-radius: 10px;
            outline: none;
            border: 1px solid grey;
            font-size: 15px;
          }

          button {
            width: 130px;
            padding: 8px;
            background-color: #4e6ab1;
            border: none;
            outline: none;
            border-radius: 3px;
            color: white;
            font-size: 15px;
            text-transform: capitalize;
            transition: all ease 0.5s;
            &:active {
              transform: scale(0.96);
            }
          }
          p {
            margin-top: 5px;
            span {
              cursor: pointer;
              border-bottom-width: 10px;
              border-bottom: 1px solid grey;

              a {
                text-decoration: none;
                margin-left: 5px;
                color: black;

                &:active {
                  color: rgb(62, 62, 152);
                }
              }
            }
          }
        }
      }
    }

    @keyframes fading-main-container {
      0% {
        opacity: 0;
        transform: translateY(-1000px);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  @media screen and (max-width: 668px) {
    .main__container {
      flex-direction: column-reverse;
    }
  }
}
