* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f0f2f5;
  /* overflow: hidden; */
}

body::-webkit-scrollbar {
  display: none;
}

.homepage__of__middle {
  background-color: #f0f2f5;
  width: 100%;
  overflow-x: hidden;
}

/* @media screen and (max-width: 500) {
  .homepage__of__middle {
    font-size: 10px;
    border: 2px solid red;
  }
} */

.testing {
  position: absolute;
  top: 10%;
  border: 40px solid red;
}
