* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepage {
  background-color: #f0f2f5;
  width: 100%;
  min-height: 100vh;
}

@media screen and (max-width: 500) {
  .homepage {
    font-size: 10px;
  }
}
